<ProjectCreate
    *ngIf="showCreateProject"
    [onclose]="oncloseProjectCreate"
></ProjectCreate>
<div class="Projects cover">
    <h1>Proyectos</h1>
    <div class="main">
        <Loading *ngIf="!projects || !projects.length"></Loading>

        <div class="list flexList" *ngIf="projects && projects.length">
            <div class="wrapProject">
                <div
                    class="createProject animated zoomIn center"
                    (click)="showCreateProject = true"
                >
                    <div class="center y">
                        <p>Nuevo Proyecto</p>
                        <span class="material-icons"> add </span>
                    </div>
                </div>
            </div>
            <div
                class="wrapProject"
                *ngFor="let project of projects; let i = index"
                #el
                (click)="
                    openProject(project, el.querySelector('CardProject'), card)
                "
            >
                <CardProject
                    #card
                    style="display: flex"
                    class="animated zoomIn center"
                    [ngClass]="{ projectOpened: project === projectOpened }"
                    [ngStyle]="getStyleProject(i, project, cssToOpenCard)"
                    [project]="project"
                    [onclose]="closeProject"
                ></CardProject>
            </div>
        </div>
    </div>
</div>
