.Projects {
    display: grid;
    grid-template-rows: min-content auto;
    .createProject {
        background-color: white;
        width: 360px;
        height: 266px;
        border-radius: 10px;
        box-shadow: 0 7px 21px -14px #0000001f;
        padding: 15px;
        border-style: dashed;
        border-color: #d9d9de;
        color: #c9ccd4;
        user-select: none;
        p {
            font-size: 1.5em;
            margin-top: 0;
        }
        span {
            font-size: 4em;
        }
    }
    .createProject,
    CardProject {
        margin: 10px;
        cursor: pointer;
    }
    .wrapProject {
        transition: all ease 200ms;
        &:hover {
            transform: scale(1.03);
        }
        &:active {
            transform: scale(0.95);
        }
    }
}
