h1,
p,
span,
input,
label,
button {
    color: #3b3c3e;
}
button {
    border-style: none;
    padding: 13px 35px;
    outline-color: transparent;
    text-transform: uppercase;
    font-size: 1.1em;
    cursor: pointer;
    background-color: #f36031;
    color: white;
    letter-spacing: 0.05em;
    transition: all ease 250ms;
    &:active {
        transform: scale(0.9);
    }
}
.buttons {
    transition: all ease 300ms;
    button {
        opacity: 0;
        animation-name: buttonsIntro;
        animation-duration: 500ms;
        animation-delay: 400ms;
        animation-fill-mode: forwards;
    }
    .register {
        background-color: #2c4449;
        margin-bottom: 10px;
    }
}
.title {
    text-transform: uppercase;
    letter-spacing: 0.03em;
    border: solid #152a31 3px;
    color: #152a31;
    padding: 5px 20px;
    user-select: none;
    margin: 0;
    margin-bottom: 20px;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}
@keyframes buttonsIntro {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
@media screen and (max-width: 820px) {
    .buttons {
        button {
            width: 100%;
        }
    }
}
