<div class="wrapDashboard cover center">
    <div class="dashboard cover">
        <div class="dheader">
            <div class="icon center">
                <div class="circle center animated bounceIn">
                    <span class="material-icons">
                        assignment_turned_in
                    </span>
                </div>
            </div>
            <div class="menu center">
                <div 
                    class="item center animated" 
                    *ngFor="let item of menu; let i = index" 
                    [ngClass]="{active: item === activeMenu, zoomIn: !animate, bounceIn: animate && item === activeMenu}"
                    (click)="navigate(item)"
                    [ngStyle]="{animationDelay: (animate ? 0 : i * 100) + 'ms'}"
                >
                    {{item.name}}
                </div>
            </div>
        </div>
        <div class="dcontent cover">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
